form .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    pointer-events: none;
}

form .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100%;
}

form .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

form .svgContainer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: solid 2.5px #217093;
    border-radius: 50%;
}

/* Styles for show password toggle - specific to the new layout */
.password-group {
    position: relative;
}

#showPasswordToggle {
    display: block;
    padding: 0 0 0 1.45em;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1em;
    cursor: pointer;
    z-index: 10;
}

#showPasswordToggle input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#showPasswordToggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.85em;
    width: 0.85em;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 3px;
}

#showPasswordToggle .indicator:after {
    content: "";
    position: absolute;
    left: 0.25em;
    top: 0.025em;
    width: 0.2em;
    height: 0.5em;
    border: solid #217093;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    visibility: hidden;
}

#showPasswordToggle input:checked~.indicator:after {
    visibility: visible;
}

#showPasswordToggle input:focus~.indicator,
#showPasswordToggle input:hover~.indicator {
    border-color: #4eb8dd;
}